@font-face {
	font-family: Figtree;
	src: url('/assets/fonts/Figtree-VariableFont_wght.ttf');
}

body {
	padding: 0;
	margin: 0;
	background-color: hsl(47, 88%, 63%);
	font-family: 'Figtree';
	font-weight: 400;
	color: white;
	min-height: 100svh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper {
	display: flex;
	flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 7%);
    padding: 1em;
    border-radius: 8px;
    border: 1px solid hsl(0, 0%, 7%);
    box-shadow: 10px 10px 0px black;
}

span {
    font-weight: 800;
    margin-top: 20px;
    font-size: 14px;
    padding: .8em 2em;
    border-radius: 8px;
    background-color: hsl(47, 88%, 63%);
    color: hsl(0, 0%, 7%);
    display: inline-block;
}

h2 {
    cursor: pointer;
    transition: color .2s ease;
}

h2:hover {
    color: hsl(47, 88%, 63%);
}

.date {
    font-size: 14px;
}

.description {
    max-width: 336px;
    color: hsl(0, 0%, 42%);
}

.article-img {
    width: 336px;
    height: 200px;
    border-radius: 8px;
}

.author-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}
.author-wrapper img {
    width: 32px;
}
.author-wrapper p {
    font-size: hsl(0, 0%, 7%);
    font-weight: 800;
}

.attribution {
	position: absolute;
	bottom: 0;
	padding-bottom: 10px;
	font-size: 14px;
	text-align: center;
}
.attribution a {
	color: hsl(0, 0%, 0%);
	text-decoration: none;
	font-weight: 600;
}
